

.hiding-scrollbar::-webkit-scrollbar {
    width: 0.15rem;
  }


.hiding-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 50%;
}
  
.hiding-scrollbar::-webkit-scrollbar-track {
    background: gray;
}
  
