@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar {
    width: 0.65rem;
  }
  
  body::-webkit-scrollbar-track {
    background: green;
  }
  
  body::-webkit-scrollbar-thumb {
    background: red;
  }


html, body {
    max-width: 100%;
    overflow-x: hidden;
}


/* Mobile Sidebar */

.mobileSideBar {
  display: inline-block;
  width: 60%;
  height: 100vh;
  background-color: #121212;
  position: fixed;
  left: 0;
  top: 10vh;
  overflow-y: scroll;
  padding: 3rem 1rem;
  padding-bottom: 10rem;
}